Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

Path conditions:
  .ado/workflows/dataLandingZoneDeployment.yml: any of: infra, code, .ado/workflows/dataLandingZoneDeployment.yml
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntimeDataFactory, infra/SelfHostedIntegrationRuntimePurview, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

add repository to POM file
  code/databricks/ConfigureDatabricksWorkspace.scala
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

update spark version in job cluster definition
  code/SetupDatabricks.ps1
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

update spark version in job cluster definition
  code/SetupDatabricksManually.ps1
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

Databricks jar fix (#140)
  code/SetupDatabricks.ps1
  code/SetupDatabricksManually.ps1
  code/databricks/ConfigureDatabricksWorkspace.scala
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

Updated GH Actions workflow
  .github/workflows/dataLandingZoneDeployment.yml
Due: none

* made privateDnsZoneGroups optional * made purview optional
  infra/main.bicep
  infra/main.json
  infra/modules/services/datafactoryruntime.bicep
  infra/modules/services/datafactorysharedintegration.bicep
  infra/modules/services/eventhubnamespace.bicep
  infra/modules/services/externalstorage.bicep
  infra/modules/services/keyvault.bicep
  infra/modules/services/mysql.bicep
  infra/modules/services/sql.bicep
  infra/modules/services/storage.bicep
  infra/modules/services/synapse.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

added dlz portal exp
  docs/reference/portal.dataLandingZone.json
Due: none

fixed sql bug
  infra/modules/services/sql.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

added option for portal deployment
  docs/reference/portal.dataLandingZone.json
  infra/main.bicep
  infra/main.json
  infra/modules/runtimes.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataLandingZoneDeployment.yml

remove old template
  docs/reference/deploy.shir.json
Due: none

removed binaries
  code/databricks/applicationLogging/spark_2.4.3/spark-listeners-loganalytics_2.4.3_2.11-1.0.0.jar
  code/databricks/applicationLogging/spark_2.4.3/spark-listeners_2.4.3_2.11-1.0.0.jar
  code/databricks/applicationLogging/spark_2.4.5/spark-listeners-loganalytics_2.4.5_2.11-1.0.0.jar
  code/databricks/applicationLogging/spark_2.4.5/spark-listeners_2.4.5_2.11-1.0.0.jar
  code/databricks/applicationLogging/spark_3.0.0/spark-listeners-loganalytics_3.0.0_2.12-1.0.0.jar
  code/databricks/applicationLogging/spark_3.0.0/spark-listeners_3.0.0_2.12-1.0.0.jar
  code/databricks/applicationLogging/spark_3.0.1/spark-listeners-loganalytics_3.0.1_2.12-1.0.0.jar
  code/databricks/applicationLogging/spark_3.0.1/spark-listeners_3.0.1_2.12-1.0.0.jar
  code/databricks/applicationLogging/tests/spark-monitoring-sample-1.0.0.jar
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

updated Databricks docs
  docs/DataOps.md
  docs/Enforcing tags.md
  docs/EnterpriseScaleAnalytics-DatabricksGeneral.md
  docs/EnterpriseScaleAnalytics-DatabricksManualSetup.md
  docs/EnterpriseScaleAnalytics-DatabricksScimSetup.md
  docs/External Hive Metastore.md
  docs/Spark Monitoring.md
Due: none

* Updated end-to-end docs * Updated core readme * Added gif
  README.md
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-CreateRepository.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  docs/EnterpriseScaleAnalytics-KnownIssues.md
  docs/EnterpriseScaleAnalytics-Prerequisites.md
  docs/EnterpriseScaleAnalytics-ServicePrincipal.md
  docs/images/EnterpriseScaleAnalytics.gif
Due: none

Portal Experience Update (#141)
  .github/workflows/dataLandingZoneDeployment.yml
  docs/reference/deploy.shir.json
  docs/reference/portal.dataLandingZone.json
  infra/main.bicep
  infra/main.json
  infra/modules/runtimes.bicep
  infra/modules/services/datafactoryruntime.bicep
  infra/modules/services/datafactorysharedintegration.bicep
  infra/modules/services/eventhubnamespace.bicep
  infra/modules/services/externalstorage.bicep
  infra/modules/services/keyvault.bicep
  infra/modules/services/mysql.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/modules/services/sql.bicep
  infra/modules/services/storage.bicep
  infra/modules/services/synapse.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: .ado/workflows/dataLandingZoneDeployment.yml

* updated readme * updated prerequisites
  README.md
  docs/EnterpriseScaleAnalytics-Prerequisites.md
Due: none

Updated GHA workflow
  .github/workflows/dataLandingZoneDeployment.yml
Due: none

Updated GHA workflow (#143)
  .github/workflows/dataLandingZoneDeployment.yml
Due: none

linting
  README.md
Due: none

* made some poperties optional * added some parameters to docs
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  infra/main.bicep
  infra/main.json
Due: .ado/workflows/dataLandingZoneDeployment.yml

* added CAF link * updated gif
  README.md
  docs/images/EnterpriseScaleAnalytics.gif
Due: none

added CAF reference
  README.md
Due: none

added file header
  code/ApprovePrivateLinkConnections.ps1
  code/RestartMySqlServer.ps1
  code/SetupDatabricks.ps1
  code/SetupDatabricksManually.ps1
  code/UploadBlob.ps1
  code/installSHIRGateway.ps1
  infra/main.bicep
  infra/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/modules/auxiliary/datafactoryRoleAssignmentDataFactory.bicep
  infra/modules/auxiliary/delay.bicep
  infra/modules/auxiliary/logAnalyticsSecretDeployment.bicep
  infra/modules/auxiliary/shareSelfHostedIntegrationRuntime.bicep
  infra/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/modules/externalstorage.bicep
  infra/modules/logging.bicep
  infra/modules/metadata.bicep
  infra/modules/network.bicep
  infra/modules/runtimes.bicep
  infra/modules/services/artifactstorage.bicep
  infra/modules/services/databricks.bicep
  infra/modules/services/datafactoryruntime.bicep
  infra/modules/services/datafactorysharedintegration.bicep
  infra/modules/services/eventhubnamespace.bicep
  infra/modules/services/externalstorage.bicep
  infra/modules/services/keyvault.bicep
  infra/modules/services/loganalytics.bicep
  infra/modules/services/mysql.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/modules/services/sql.bicep
  infra/modules/services/storage.bicep
  infra/modules/services/synapse.bicep
  infra/modules/sharedintegration.bicep
  infra/modules/sharedproduct.bicep
  infra/modules/storage.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

Minor Docs Update
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  docs/EnterpriseScaleAnalytics-Prerequisites.md
  docs/EnterpriseScaleAnalytics-ServicePrincipal.md
Due: none

Minor Docs Update (#144)
  docs/EnterpriseScaleAnalytics-AzureDevOpsDeployment.md
  docs/EnterpriseScaleAnalytics-GitHubActionsDeployment.md
  docs/EnterpriseScaleAnalytics-Prerequisites.md
  docs/EnterpriseScaleAnalytics-ServicePrincipal.md
Due: none

Update to Enterprise-Scale
  README.md
Due: none

Update to Enterprise-Scale (#145)
  README.md
Due: none

updated deployment name for vnet peering
  infra/main.json
  infra/modules/network.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

updated deployment name for vnet peering (#146)
  infra/main.json
  infra/modules/network.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

Segment Length Check of Resource IDs
  infra/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/modules/auxiliary/datafactoryRoleAssignmentDataFactory.bicep
  infra/modules/auxiliary/logAnalyticsSecretDeployment.bicep
  infra/modules/auxiliary/shareSelfHostedIntegrationRuntime.bicep
  infra/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/modules/network.bicep
  infra/modules/services/datafactorysharedintegration.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/modules/services/synapse.bicep
  infra/modules/sharedintegration.bicep
  infra/modules/sharedproduct.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

updated main arm
  infra/main.json
Due: .ado/workflows/dataLandingZoneDeployment.yml

Segment Length Check of Resource IDs (#147)
  infra/main.json
  infra/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/modules/auxiliary/datafactoryRoleAssignmentDataFactory.bicep
  infra/modules/auxiliary/logAnalyticsSecretDeployment.bicep
  infra/modules/auxiliary/shareSelfHostedIntegrationRuntime.bicep
  infra/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/modules/network.bicep
  infra/modules/services/datafactorysharedintegration.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/modules/services/synapse.bicep
  infra/modules/sharedintegration.bicep
  infra/modules/sharedproduct.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

fixed errors in portal experience
  docs/reference/portal.dataLandingZone.json
Due: none

fixed errors in portal experience (#148)
  docs/reference/portal.dataLandingZone.json
Due: none

Update to Product
  README.md
Due: none

updated uris
  README.md
Due: none

Update to Product (#149)
  README.md
Due: none

Fixed tagging issue
  docs/reference/portal.dataLandingZone.json
Due: none

updated text for naming
  docs/reference/portal.dataLandingZone.json
Due: none

added name checks
  docs/reference/portal.dataLandingZone.json
Due: none
