Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

.ado/workflows/dataNodeDeployment.yml:
  name: Data Node Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

fix bugs in keyvault arn template
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

fix reference bug
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

update role assignment guids
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

* added storage to adf * added role assignments to templates
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

update name of role assignment deployment
  infra/DataFactory/deploy.dataFactory.json
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated depends on
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

* updated ref template * updated params update process * Updated readme * updated storage output
  README.md
  configs/config.json
  docs/reference/deploy.dataNode.json
  infra/Storage/deploy.storage.json
Due: .ado/workflows/dataNodeDeployment.yml

* added docs for ADB SCIM setup * Updated Docs for required access rights * Fixed ADF bug
  code/aadScim/README.md
  docs/DatabricksScimSetup.md
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

update role assignment guids
  infra/DataFactory/deploy.dataFactory.json
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

update guids
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

added conditions
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

updated reference
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

convert lz name to lowercase
  configs/UpdateParameters.ps1
Due: none

added tolower for params in ref template
  docs/reference/deploy.dataNode.json
Due: none

bug fixes in templates for deploy to azure
  docs/reference/deploy.dataNode.json
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

added dependencies
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

removed role assignment
  README.md
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

added explicit dependencies
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

Allow Purview ID to be empty
  configs/UpdateParameters.ps1
Due: none

Fix Too Long Names
  configs/UpdateParameters.ps1
Due: none

Update updateParameters.yml
  .github/workflows/updateParameters.yml
Due: none

* commented all role assignmen and linked services * removed role assignment from README * continue on error for shir sharing
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  README.md
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

Update README.md
  README.md
Due: none

call attention to instructions for using the PR
  README.md
Due: none

Fix Too Long Names (#90)
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  .github/workflows/updateParameters.yml
  README.md
  configs/UpdateParameters.ps1
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

removed nsg rules
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

added option to change cidr, dns and FW ips
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
  configs/config.json
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

updated storage accounts according to docs
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.storage002.json
Due: .ado/workflows/dataNodeDeployment.yml

quickfix
  .github/workflows/updateParameters.yml
Due: none

fix list
  .github/workflows/updateParameters.yml
  configs/config.json
Due: none

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
