Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

.ado/workflows/dataNodeDeployment.yml:
  name: Data Node Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

Format of table
  README.md
Due: none

Readme updated
  README.md
Due: none

Update Readme
  README.md
Due: none

added missing dependency
  docs/reference/deploy.dataNode.json
Due: none

updated storage naming convention
  configs/config.json
Due: none

add max name length to dlzname
  configs/UpdateParameters.ps1
Due: none

added delay to shir sharing
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated pipelines for deployment
  .ado/workflows/dataNodeDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  .github/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
  .github/workflows/updateParameters.yml
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated parameter update process
  .github/workflows/updateParameters.yml
Due: none

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

anotehr test
  .github/workflows/updateParameters.yml
Due: none

test with full body
  .github/workflows/updateParameters.yml
Due: none

fixed bug in body
  .github/workflows/updateParameters.yml
Due: none

another test run for new pr body
  .github/workflows/updateParameters.yml
Due: none

fixed another bug in body
  .github/workflows/updateParameters.yml
Due: none

another test
  .github/workflows/updateParameters.yml
Due: none

one more test for formatting
  .github/workflows/updateParameters.yml
Due: none

linting
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
Due: .ado/workflows/dataNodeDeployment.yml

updated param update workflow
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
Due: none

updated data node visio
  docs/media/DataNode.png
Due: none

test
  README.md
Due: none

updated some links
  README.md
Due: none

updated some code details in docs
  README.md
Due: none

fixed links
  README.md
Due: none

enhancements
  code/databricks/hive-metastore-scan.py
Due: .ado/workflows/dataNodeDeployment.yml

added comment to workflow for manual setup
  .github/workflows/dataNodeDeployment.yml
Due: none

fixed bug in body of pr
  .github/workflows/updateParameters.yml
Due: none

pyapacheatlas library install
  code/databricks/hive-metastore-scan.py
Due: .ado/workflows/dataNodeDeployment.yml

added outputs to workflows
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

adde manual databricks script
  code/SetupDatabricksManual.ps1
Due: .ado/workflows/dataNodeDeployment.yml

remove continue on error for databricks
  .github/workflows/dataNodeDeployment.yml
Due: none

* updated workflow output * added databricks manual script
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  code/SetupDatabricksManual.ps1
Due: .ado/workflows/dataNodeDeployment.yml

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
