Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

.ado/workflows/dataNodeDeployment.yml:
  name: Data Node Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

updated kv templates to not loose access policies
  infra/KeyVault/deploy.keyVault.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
Due: .ado/workflows/dataNodeDeployment.yml

Updated readme (#72)
  README.md
  docs/images/ARMConnectionDevOps.png
  docs/images/AzureCredentialsGH.png
  docs/images/AzurePipelinesGH.png
  docs/images/AzureResourceManagerConnectionCreation.png
  docs/images/CodeDevOps.png
  docs/images/ConfigurePipelineDevOps.png
  docs/images/ConnectionDevOps.png
  docs/images/CostCenterDefined-Portal.png
  docs/images/CreatePipelineDevOps.png
  docs/images/CreateProjectDevOps.png
  docs/images/CreateRepoGH.png
  docs/images/DataNode.png
  docs/images/DefiningCostCenter-DatabricksUX.png
  docs/images/InstallButtonGH.png
  docs/images/SelectRepositoryDevOps.png
  docs/images/UseThisTemplateGH.png
  docs/images/datalandingzone.png
  docs/images/deploytoazuregrey.png
Due: none

Updated data node image
  docs/images/DataNode.png
Due: none

quick bugfix
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
Due: .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

quick fix for renaming process
  configs/config.json
Due: none

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

quick fix for update parameters process
  .github/workflows/updateParameters.yml
Due: none

fixed bug in update parameter process
  configs/config.json
Due: none

added rbac assignment to container for synapse msi
  configs/config.json
  infra/Synapse/deploy.synapse.json
  infra/Synapse/params.synapse001.json
Due: .ado/workflows/dataNodeDeployment.yml

removed comments
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

* added purview connection to data factory * removed redundant IR * updated references to IR
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataNodeDeployment.yml

updated parameter update process
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
  configs/config.json
Due: none

updated adf 002
  infra/DataFactory/params.dataFactory002.json
Due: .ado/workflows/dataNodeDeployment.yml

added purview connection to synapse
  infra/Synapse/deploy.synapse.json
  infra/Synapse/params.synapse001.json
Due: .ado/workflows/dataNodeDeployment.yml

updated datanode with purview connection
  docs/reference/deploy.dataNode.json
Due: none

changed schema version
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

schema changes
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

undoing template adds
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

removing missing variables
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

step1
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

obj warning
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

db access token
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
Due: .ado/workflows/dataNodeDeployment.yml

dependency error fix
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

yet another dependency fix
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

pipeline trigger resource
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
Due: .ado/workflows/dataNodeDeployment.yml

removing dups
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

dependsOn
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

update ref template
  docs/reference/deploy.dataNode.json
Due: none

simplified reference in ref template
  docs/reference/deploy.dataNode.json
Due: none

updated docs with new parameter
  README.md
Due: none

commented out role assignmnet for synapse
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

typo
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

added Databricks conn to adf
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
Due: .ado/workflows/dataNodeDeployment.yml

* updated ref template * updated parameter update process for adb linked service
  configs/config.json
  docs/reference/deploy.dataNode.json
Due: none

updated guid in template for role assignment
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
