Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

.ado/workflows/dataNodeDeployment.yml:
  name: Data Node Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

test output
  configs/UpdateParameters.ps1
Due: none

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

test array expansion
  configs/UpdateParameters.ps1
Due: none

update config and param update process
  configs/UpdateParameters.ps1
  configs/config.json
Due: none

quickfix
  .github/workflows/updateParameters.yml
Due: none

FIX: Document typos
  docs/DataOps.md
  docs/DatabricksManualSetup.md
Due: none

FIX: Document typos (#100)
  docs/DataOps.md
  docs/DatabricksManualSetup.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#102)
  README.md
Due: none

enable role assignments
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

updated dependency
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

updated adf dependencies
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

another fix for role assignment
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

Update README.md (#109)
  README.md
Due: none

Added Dev Container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
Due: none

Added Dev Container (#110)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
Due: none

Power BI Gateway Subnet
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

Update README.md (#112)
  README.md
Due: none

Feedback review changes
  .gitignore
  README.md
  docs/images/ARMConnectionDevOps.png
  docs/images/AzureCredentialsGH.png
  docs/images/AzurePipelinesGH.png
  docs/images/CodeDevOps.png
  docs/images/ConfigurePipelineDevOps.png
  docs/images/ConnectionDevOps.png
  docs/images/CreateRepoGH.png
  docs/images/InstallButtonGH.png
  docs/images/UseThisTemplateGH.png
Due: none

Feedback review changes (#113)
  .gitignore
  README.md
  docs/images/ARMConnectionDevOps.png
  docs/images/AzureCredentialsGH.png
  docs/images/AzurePipelinesGH.png
  docs/images/CodeDevOps.png
  docs/images/ConfigurePipelineDevOps.png
  docs/images/ConnectionDevOps.png
  docs/images/CreateRepoGH.png
  docs/images/InstallButtonGH.png
  docs/images/UseThisTemplateGH.png
Due: none

update order of subnets
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

updated some names
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

simplified databricks deployment
  configs/config.json
  infra/Databricks/deploy.databricks.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
Due: .ado/workflows/dataNodeDeployment.yml

added template for purview shir
  infra/SelfHostedIntegrationRuntimePurview/deploy.shir.json
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/params.shir001.json
Due: none

updated forlder structure for shir
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  configs/config.json
  infra/SelfHostedIntegrationRuntimeDataFactory/deploy.shir.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimeDataFactory/params.shir001.json
Due: .ado/workflows/dataNodeDeployment.yml

updated workflow files
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

Purview SHIR (#117)
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  configs/config.json
  infra/SelfHostedIntegrationRuntimeDataFactory/deploy.shir.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimeDataFactory/params.shir001.json
  infra/SelfHostedIntegrationRuntimePurview/deploy.shir.json
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/params.shir001.json
Due: .ado/workflows/dataNodeDeployment.yml

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntimeDataFactory/params.shir001.json
  infra/SelfHostedIntegrationRuntimePurview/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated all role assignments
  infra/DataFactory/deploy.dataFactory.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/Synapse/deploy.synapse.json
  infra/Synapse/params.synapse001.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

fixed reference name
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

update params
  infra/Synapse/params.synapse001.json
Due: .ado/workflows/dataNodeDeployment.yml

Updated Role Assignments (#120)
  infra/DataFactory/deploy.dataFactory.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

added linting workflow + config
  .github/linters/.arm-ttk.psd1
  .github/linters/.dockerfilelintrc
  .github/linters/.markdown-lint.yml
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
Due: none

linting of workflows
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  .github/workflows/updateParameters.yml
Due: .ado/workflows/dataNodeDeployment.yml

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
