Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/Storage, infra/KeyVault, infra/Databricks, infra/DataFactory, infra/EventHub, infra/SqlDatabase, infra/SqlServer, infra/Synapse, infra/PrivateEndpoint, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml

switch to mysql for node deployment
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  docs/reference/deploy.dataNode.json
Due: .ado/workflows/dataNodeDeployment.yml

commented out sql server 002 in gh workflow
  .github/workflows/dataNodeDeployment.yml
Due: none

updated param for mysql
  docs/reference/deploy.dataNode.json
  infra/MySql/params.mySql001.json
Due: none

updated triggers for workflows
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

updated mysql params
  .gitignore
  infra/MySql/params.mySql001.json
Due: none

build Spark monitoring jars as part of deployment process
  code/SetupDatabricks.ps1
  code/databricks/ConfigureDatabricksWorkspace.scala
  code/databricks/applicationLogging/spark-monitoring.sh
Due: .ado/workflows/dataNodeDeployment.yml

add notes on Spark Monitoring build process.
  docs/Spark Monitoring.md
Due: none

Updated sqlServerId and sqlDatabseId in ADF param
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataNodeDeployment.yml

Updated sqlServerId and sqlDatabseId in ADF param (#20)
  infra/DataFactory/params.dataFactory001.json
Due: .ado/workflows/dataNodeDeployment.yml

Spark Monitoring JAR Files (#17)
  code/SetupDatabricks.ps1
  code/databricks/ConfigureDatabricksWorkspace.scala
  code/databricks/applicationLogging/spark-monitoring.sh
  docs/Spark Monitoring.md
Due: .ado/workflows/dataNodeDeployment.yml

added private endpoint to databricks
  infra/Databricks/deploy.databricks.json
Due: .ado/workflows/dataNodeDeployment.yml

updated storage SKU for DBFS
  infra/Databricks/deploy.databricks.json
Due: .ado/workflows/dataNodeDeployment.yml

added dbfs private endpoint
  infra/Databricks/deploy.databricks.json
Due: .ado/workflows/dataNodeDeployment.yml

updated adb params
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
Due: .ado/workflows/dataNodeDeployment.yml

* updated api version and type for cname * updated params for ADB * updated reference
  infra/Databricks/deploy.databricks.json
Due: .ado/workflows/dataNodeDeployment.yml

updated deployment workflows
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

updated vnet setup
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/networkDeployment.yml

reverted network setup
  infra/VirtualNetwork/deploy.vnet.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/networkDeployment.yml

added pr and issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

added shir templates
  docs/reference/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/deploy.shir.json
  infra/SelfHostedIntegrationRuntime/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntime/params.shir001.json
Due: none

added artifact storage for scripts
  infra/ArtifactStorage/deploy.storage.json
  infra/ArtifactStorage/params.storage001.json
Due: none

added adf for shir
  infra/DataFactory/deploy.dataFactory.json
  infra/DataFactory/params.dataFactory002.json
Due: .ado/workflows/dataNodeDeployment.yml

added log analytics for adb logging + kv
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/deploy.logAnalytics.json
  infra/LogAnalytics/params.logAnalytics001.json
Due: .ado/workflows/dataNodeDeployment.yml

added shir sharing templates
  infra/ShareSelfHostedIntegrationRuntime/deploy.shareSelfHostedIntegrationRuntime.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime002.json
Due: none

updated vnet peering templates
  infra/VirtualNetworkPeering/deploy.vnetPeering.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/networkDeployment.yml

updated outputs of templates
  infra/MySql/deploy.mySql.json
  infra/VirtualNetwork/params.vnet.json
Due: .ado/workflows/networkDeployment.yml

updated outputs of sql template
  infra/SqlDatabase/deploy.sqlDatabase.json
Due: .ado/workflows/dataNodeDeployment.yml

updated deployments end to end
  .ado/workflows/dataNodeDeployment.yml
  .ado/workflows/networkDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  .github/workflows/networkDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

overhauled reference template
  docs/reference/deploy.dataNode.json
Due: none

added parameter update templates
  configs/UpdateParameters.ps1
  configs/config.json
Due: none

added renaming workflow and config
  .github/workflows/updateParameters.yml
  configs/config.json
Due: none

updated parameter workflow
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
Due: none

Updated Parameters
  .ado/workflows/dataNodeDeployment.yml
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntime/params.shir001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

updated config file to fix bug
  configs/config.json
Due: none

enable ps session on node deployment
  .github/workflows/dataNodeDeployment.yml
Due: none

updated description
  .github/workflows/updateParameters.yml
Due: none

updated comment
  .github/workflows/updateParameters.yml
Due: none
