Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

.ado/workflows/dataNodeDeployment.yml:
  name: Data Node Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

.ado/workflows/networkDeployment.yml:
  name: Network Deployment
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        name: checkout_repository
  ...

.ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml:
  name: Share Self Hosted Integration Runtime
  stages:
  - stage: Validation
    displayName: Validation of ARM templates
    jobs:
    - job: Validation
      displayName: Validation of ARM templates
      continueOnError: false
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

unified rg deployment
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
  infra/ResourceGroups/deploy.resourceGroups.json
  infra/ResourceGroups/params.resourceGroups001.json
Due: .ado/workflows/dataNodeDeployment.yml

* fixed bug in parameter file * linting
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/linters/.arm-ttk.psd1
  SECURITY.md
  code/ApprovePrivateLinkConnections.ps1
  code/GeneratePassword.ps1
  code/SetupDatabricks.ps1
  code/SetupDatabricksManually.ps1
  code/UploadBlob.ps1
  code/aadScim/DatabricksScimSetup.ps1
  code/aadScim/Helper.ps1
  code/aadScim/README.md
  code/databricks/applicationLogging/spark-monitoring.sh
  code/restart-mysqlserver.sh
  configs/UpdateParameters.ps1
  docs/DataOps.md
  docs/DatabricksManualSetup.md
  docs/Enforcing tags.md
  infra/EventHub/deploy.eventHub.json
  infra/ResourceGroups/params.resourceGroups001.json
  infra/SelfHostedIntegrationRuntimeDataFactory/deploy.shir.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/deploy.shir.json
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
  infra/SqlDatabase/deploy.sqlDatabase.json
Due: .ado/workflows/dataNodeDeployment.yml

linting
  code/SetupDatabricks.ps1
  code/SetupDatabricksManually.ps1
  code/aadScim/Helper.ps1
  code/databricks/applicationLogging/spark-monitoring.sh
  docs/Enforcing tags.md
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
Due: .ado/workflows/dataNodeDeployment.yml

Formatting and consistency fixes for markdown Use markdown syntax for images, make sure alt-text is included Make images consistent width
  README.md
  docs/DataOps.md
  docs/DatabricksManualSetup.md
  docs/DatabricksScimSetup.md
  docs/Enforcing tags.md
  docs/External Hive Metastore.md
  docs/Spark Monitoring.md
  docs/images/CostCenterDefined-Portal.png
  docs/images/CreatePipelineDevOps.png
  docs/images/DataNode.png
  docs/images/DefiningCostCenter-DatabricksUX.png
Due: none

Formatting and consistency fixes for markdown (#122)
  README.md
  docs/DataOps.md
  docs/DatabricksManualSetup.md
  docs/DatabricksScimSetup.md
  docs/Enforcing tags.md
  docs/External Hive Metastore.md
  docs/Spark Monitoring.md
  docs/images/CostCenterDefined-Portal.png
  docs/images/CreatePipelineDevOps.png
  docs/images/DataNode.png
  docs/images/DefiningCostCenter-DatabricksUX.png
Due: none

added first bicep templates
  infra/bicep/main.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/product.bicep
Due: none

updated bicep templates
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/product.bicep
Due: none

converted more assets to bicep
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/externalstorage.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/logging.bicep
  infra/bicep/modules/metadata.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/network/dataManagementZoneVnetPeering.bicep
  infra/bicep/modules/product.bicep
  infra/bicep/modules/product/synapseRoleAssignment.bicep
  infra/bicep/modules/storage.bicep
Due: none

updated bicep templates
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/domain/dataFactoryRoleAssignmentDatabricks.bicep
  infra/bicep/modules/domain/dataFactoryRoleAssignmentStorage.bicep
  infra/bicep/modules/exernalstorage/storage.bicep
  infra/bicep/modules/externalstorage.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/integration/shir.bicep
  infra/bicep/modules/logging.bicep
  infra/bicep/modules/metadata.bicep
  infra/bicep/modules/product.bicep
  infra/bicep/modules/product/synapseRoleAssignmentStorage.bicep
  infra/bicep/modules/storage.bicep
  infra/bicep/modules/storage/storage.bicep
Due: none

added and updated bicep templates
  infra/bicep/main.bicep
  infra/bicep/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/bicep/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/bicep/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/bicep/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/externalstorage.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/logging.bicep
  infra/bicep/modules/metadata.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/product.bicep
  infra/bicep/modules/services/artifactstorage.bicep
  infra/bicep/modules/services/databricks.bicep
  infra/bicep/modules/services/datafactorydomain.bicep
  infra/bicep/modules/services/datafactoryintegration.bicep
  infra/bicep/modules/services/eventhubnamespace.bicep
  infra/bicep/modules/services/externalstorage.bicep
  infra/bicep/modules/services/keyvault.bicep
  infra/bicep/modules/services/loganalytics.bicep
  infra/bicep/modules/services/mysql.bicep
  infra/bicep/modules/services/selfHostedIntegrationRuntime.bicep
  infra/bicep/modules/services/sql.bicep
  infra/bicep/modules/services/storage.bicep
  infra/bicep/modules/services/synapse.bicep
  infra/storage.bicep
Due: none

* improved bicep templates * removed warnings
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/externalstorage.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/logging.bicep
  infra/bicep/modules/metadata.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/product.bicep
  infra/bicep/modules/services/artifactstorage.bicep
  infra/bicep/modules/services/datafactorydomain.bicep
  infra/bicep/modules/services/selfHostedIntegrationRuntime.bicep
  infra/bicep/modules/services/sql.bicep
  infra/bicep/modules/services/storage.bicep
  infra/bicep/modules/services/synapse.bicep
  infra/bicep/modules/storage.bicep
Due: none

fixed bugs in templates
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/bicep/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/bicep/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/bicep/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/logging.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/services/databricks.bicep
  infra/bicep/modules/services/datafactorydomain.bicep
  infra/bicep/modules/services/datafactoryintegration.bicep
  infra/bicep/modules/services/eventhubnamespace.bicep
  infra/bicep/modules/services/externalstorage.bicep
  infra/bicep/modules/services/loganalytics.bicep
  infra/bicep/modules/services/sql.bicep
  infra/bicep/modules/services/storage.bicep
  infra/bicep/modules/storage.bicep
  infra/bicep/params.dev.json
Due: none

updated bicep templates
  code/installSHIRGateway.ps1
  infra/bicep/main.bicep
  infra/bicep/main.json
  infra/bicep/modules/auxiliary/datafactoryRoleAssignmentDataFactory.bicep
  infra/bicep/modules/auxiliary/shareSelfHostedIntegrationRuntime.bicep
  infra/bicep/modules/domain.bicep
  infra/bicep/modules/integration.bicep
  infra/bicep/modules/services/artifactstorage.bicep
  infra/bicep/modules/services/selfHostedIntegrationRuntime.bicep
  infra/bicep/params.dev.json
Due: .ado/workflows/dataNodeDeployment.yml

removed unnecessary images
  docs/images/CreateProjectDevOps.png
  docs/images/SelectRepositoryDevOps.png
  docs/images/datalandingzone.png
Due: none

updated devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/azcli-debian.sh
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/node-debian.sh
Due: none

moved infra files
  infra/main.bicep
  infra/main.json
  infra/modules/auxiliary/dataFactoryRoleAssignmentDatabricks.bicep
  infra/modules/auxiliary/dataFactoryRoleAssignmentStorage.bicep
  infra/modules/auxiliary/dataManagementZoneVnetPeering.bicep
  infra/modules/auxiliary/datafactoryRoleAssignmentDataFactory.bicep
  infra/modules/auxiliary/shareSelfHostedIntegrationRuntime.bicep
  infra/modules/auxiliary/synapseRoleAssignmentStorage.bicep
  infra/modules/domain.bicep
  infra/modules/externalstorage.bicep
  infra/modules/integration.bicep
  infra/modules/logging.bicep
  infra/modules/metadata.bicep
  infra/modules/network.bicep
  infra/modules/product.bicep
  infra/modules/services/artifactstorage.bicep
  infra/modules/services/databricks.bicep
  infra/modules/services/datafactorydomain.bicep
  infra/modules/services/datafactoryintegration.bicep
  infra/modules/services/eventhubnamespace.bicep
  infra/modules/services/externalstorage.bicep
  infra/modules/services/keyvault.bicep
  infra/modules/services/loganalytics.bicep
  infra/modules/services/mysql.bicep
  infra/modules/services/selfHostedIntegrationRuntime.bicep
  infra/modules/services/sql.bicep
  infra/modules/services/storage.bicep
  infra/modules/services/synapse.bicep
  infra/modules/storage.bicep
  infra/params.dev.json
Due: none

remove update params process
  .github/workflows/updateParameters.yml
  configs/UpdateParameters.ps1
  configs/config.json
  docs/reference/deploy.dataNode.json
Due: none

updated params
  infra/main.bicep
  infra/main.json
Due: none

linting
  .github/linters/.powershell-psscriptanalyzer.psd1
  infra/SqlDatabase/deploy.sqlDatabase.json
  infra/SqlServer/deploy.sqlServer.json
Due: .ado/workflows/dataNodeDeployment.yml

bug fix
  code/GeneratePassword.ps1
Due: .ado/workflows/dataNodeDeployment.yml

* updated role assignments * linting
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
  infra/DataFactory/deploy.dataFactory.json
  infra/Synapse/deploy.synapse.json
Due: .ado/workflows/dataNodeDeployment.yml

updated password gen
  code/GeneratePassword.ps1
Due: .ado/workflows/dataNodeDeployment.yml

update lint wf
  .github/workflows/lint.yml
Due: none

revert generate passwort
  code/GeneratePassword.ps1
Due: .ado/workflows/dataNodeDeployment.yml

update password gen script
  code/GeneratePassword.ps1
Due: .ado/workflows/dataNodeDeployment.yml

* update lint wf * linting * updated shir
  .github/workflows/lint.yml
  docs/DataOps.md
  infra/SelfHostedIntegrationRuntimeDataFactory/deploy.shir.json
  infra/SelfHostedIntegrationRuntimeDataFactory/installSHIRGateway.ps1
  infra/SelfHostedIntegrationRuntimePurview/deploy.shir.json
  infra/SelfHostedIntegrationRuntimePurview/installSHIRGateway.ps1
Due: none

linting
  code/GeneratePassword.ps1
Due: .ado/workflows/dataNodeDeployment.yml

fixed issue
  infra/params.dev.json
Due: none

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/SelfHostedIntegrationRuntimeDataFactory/params.shir001.json
  infra/SelfHostedIntegrationRuntimePurview/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

* updated pwsh script * updated ADO workflow * updated bicep outputs
  .ado/workflows/dataLandingZoneDeployment.yml
  .ado/workflows/dataNodeDeployment.yml
  code/RestartMySqlServer.ps1
  code/restart-mysqlserver.sh
  infra/main.bicep
  infra/modules/logging.bicep
  infra/modules/metadata.bicep
  infra/modules/services/mysql.bicep
Due: .ado/workflows/dataNodeDeployment.yml

Updated Update Parameter Process
  configs/config.json
Due: none

Updated Update Parameter Process (#125)
  configs/config.json
Due: none

Updated Parameters
  infra/ArtifactStorage/params.storage001.json
  infra/DataFactory/params.dataFactory001.json
  infra/DataFactory/params.dataFactory002.json
  infra/Databricks/params.databricks001.json
  infra/Databricks/params.databricks002.json
  infra/EventHub/params.eventHub001.json
  infra/KeyVault/params.keyVault001.json
  infra/KeyVault/params.keyVault002.json
  infra/KeyVault/params.keyVault003.json
  infra/LogAnalytics/params.logAnalytics001.json
  infra/MySql/params.mySql001.json
  infra/ResourceGroups/params.resourceGroups001.json
  infra/SelfHostedIntegrationRuntimeDataFactory/params.shir001.json
  infra/SelfHostedIntegrationRuntimePurview/params.shir001.json
  infra/ShareSelfHostedIntegrationRuntime/params.shareSelfHostedIntegrationRuntime001.json
  infra/SqlDatabase/params.sqlDatabase001.json
  infra/SqlDatabase/params.sqlDatabase002.json
  infra/SqlServer/params.sqlServer001.json
  infra/SqlServer/params.sqlServer002.json
  infra/Storage/params.external_storage001.json
  infra/Storage/params.secret_storage001.json
  infra/Storage/params.secret_storage002.json
  infra/Storage/params.secret_storage003.json
  infra/Storage/params.storage001.json
  infra/Storage/params.storage002.json
  infra/Storage/params.storage003.json
  infra/Synapse/params.synapse001.json
  infra/VirtualNetwork/params.vnet.json
  infra/VirtualNetworkPeering/params.vnetPeering001.json
  infra/VirtualNetworkPeering/params.vnetPeering002.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

updated workflow files
  .ado/workflows/dataLandingZoneDeployment.yml
  .github/workflows/dataLandingZoneDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: none

updated bicep
  infra/main.bicep
  infra/main.json
  infra/modules/domain.bicep
  infra/modules/product.bicep
  infra/modules/services/databricks.bicep
  infra/params.prod.json
  infra/params.test.json
Due: none

fixed dependecies and bugs in bicep
  infra/main.bicep
  infra/main.json
  infra/modules/auxiliary/logAnalyticsSecretDeployment.bicep
  infra/modules/integration.bicep
  infra/modules/logging.bicep
  infra/modules/services/loganalytics.bicep
  infra/params.dev.json
  infra/params.prod.json
  infra/params.test.json
Due: none

linting
  infra/modules/integration.bicep
Due: none

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml
