Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

Path conditions:
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntime, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

commented out adb private link
  infra/Databricks/deploy.databricks.json
Due: .ado/workflows/dataNodeDeployment.yml

make task names unique
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

replace AzureFileCopy task with AzureCLI task
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

added support for kv
  code/databricks/purviewScan/databricksPurviewScan.py
Due: .ado/workflows/dataNodeDeployment.yml

Added Data Landing Zone reference
  README.md
Due: none

update doc
  README.md
Due: none

Added readme for documenting required access of sp
  code/aadScim/README.md
Due: .ado/workflows/dataNodeDeployment.yml

* Imported other ps1 file * fixed bugs in helper functions
  code/aadScim/DatabricksScimSetup.ps1
  code/aadScim/Helper.ps1
Due: .ado/workflows/dataNodeDeployment.yml

make task names unique (#54)
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

updated runner to windows-latest for copy activity
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

remove comment
  code/SetupDatabricksManual.ps1
Due: .ado/workflows/dataNodeDeployment.yml

Documentation - ReadMe File Updated (#38)
  README.md
  docs/media/ARMConnectionDevOps.png
  docs/media/AzureCredentialsGH.png
  docs/media/AzurePipelinesGH.png
  docs/media/AzureResourceManagerConnectionCreation.png
  docs/media/CodeDevOps.png
  docs/media/ConfigurePipelineDevOps.png
  docs/media/ConnectionDevOps.png
  docs/media/CostCenterDefined-Portal.png
  docs/media/CreatePipelineDevOps.png
  docs/media/CreateProjectDevOps.png
  docs/media/CreateRepoGH.png
  docs/media/DataNode.png
  docs/media/DefiningCostCenter-DatabricksUX.png
  docs/media/InstallButtonGH.png
  docs/media/SelectRepositoryDevOps.png
  docs/media/UseThisTemplateGH.png
  docs/media/datalandingzone.png
Due: none

added notebook to automation process
  code/SetupDatabricks.ps1
Due: .ado/workflows/dataNodeDeployment.yml

updated few words and typos in docs
  README.md
Due: none

fixed typo in readme
  README.md
Due: none

updated login mechnism
  code/SetupDatabricksManual.ps1
Due: .ado/workflows/dataNodeDeployment.yml

updated workflows
  .ado/workflows/dataNodeDeployment.yml
  .github/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

updated nsg rules
  infra/VirtualNetwork/deploy.vnet.json
Due: .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml

standardize README
  README.md
Due: none

removed pwsh for secret generation
  README.md
Due: none

standardize README (#59)
  README.md
Due: none

added missing sections
  README.md
Due: none

updated deploy to azure reference and links
  README.md
  docs/reference/deploy.dataNode.json
Due: none

removed location parameter
  docs/reference/deploy.dataNode.json
Due: none

updated default values
  docs/reference/deploy.dataNode.json
Due: none

updated condition in ado pipeline
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml

Update README.md
  README.md
Due: none

Docs & Deploy to Azure update (#60)
  .ado/workflows/dataNodeDeployment.yml
  README.md
  docs/reference/deploy.dataNode.json
Due: .ado/workflows/dataNodeDeployment.yml

updated deploy to azure link and ref template
  README.md
  docs/reference/deploy.dataNode.json
Due: none

delete old README file
  infra/Databricks/README.md
Due: .ado/workflows/dataNodeDeployment.yml

delete old config file
  infra/Databricks/cluster.config
Due: .ado/workflows/dataNodeDeployment.yml

fixed issues in templates for deploy to azure
  docs/reference/deploy.dataNode.json
  infra/DataFactory/deploy.dataFactory.json
Due: .ado/workflows/dataNodeDeployment.yml

updated reference template
  docs/reference/deploy.dataNode.json
Due: none

added vnet peering to ref
  docs/reference/deploy.dataNode.json
Due: none

removed unnecessary dependsOn
  docs/reference/deploy.dataNode.json
Due: none

Delete Old Databricks Files (#61)
  infra/Databricks/README.md
  infra/Databricks/cluster.config
Due: .ado/workflows/dataNodeDeployment.yml

removed unnecessary script
  code/GeneratePipelineVariables.ps1
Due: .ado/workflows/dataNodeDeployment.yml

added new script for blop upload across ado and GH
  code/UploadBlob.ps1
Due: .ado/workflows/dataNodeDeployment.yml

* Updated ARM output ref * Removed pipeline generation steps * added new upload step * removed old upload step
  .ado/workflows/dataNodeDeployment.yml
Due: .ado/workflows/dataNodeDeployment.yml
