Repository Azure/data-landing-zone: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml, .ado/workflows/networkDeployment.yml, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

Path conditions:
  .ado/workflows/dataLandingZoneDeployment.yml: any of: infra, code, .ado/workflows/dataLandingZoneDeployment.yml
  .ado/workflows/dataNodeDeployment.yml: any of: infra/ArtifactStorage, infra/Databricks, infra/DataFactory, infra/EventHub, infra/KeyVault, infra/MySql, infra/SelfHostedIntegrationRuntimeDataFactory, infra/SelfHostedIntegrationRuntimePurview, infra/SqlDatabase, infra/SqlServer, infra/Storage, infra/Synapse, infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/dataNodeDeployment.yml, code
  .ado/workflows/networkDeployment.yml: any of: infra/VirtualNetwork, infra/VirtualNetworkPeering, .ado/workflows/networkDeployment.yml
  .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml: any of: infra/ShareSelfHostedIntegrationRuntime, .ado/workflows/shareSelfHostedIntegrationRuntimeDeployment.yml

linting
  CONTRIBUTING.md
Due: none

more linting
  CONTRIBUTING.md
Due: none

Espen/contribution_guide (#227)
  CONTRIBUTING.md
Due: none

Fix Portal UI Bug (#226)
  docs/reference/portal.dataLandingZone.json
Due: none

Updated Workflows
  .ado/workflows/dataLandingZoneDeployment.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dataLandingZoneDeployment.yml
Due: .ado/workflows/dataLandingZoneDeployment.yml

Updated Storage Templates
  infra/main.json
  infra/modules/services/externalstorage.bicep
  infra/modules/services/storage.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

updated storage deployment
  infra/main.json
  infra/modules/services/externalstorage.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

updated linter
  .github/linters/.arm-ttk.psd1
Due: none

Updated Key Vault
  infra/main.json
  infra/modules/services/keyvault.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

updated linting
  .github/linters/.arm-ttk.psd1
Due: none

Update .arm-ttk.psd1
  .github/linters/.arm-ttk.psd1
Due: none

update DMA to cloud-scale analytics
  CONTRIBUTING.md
  README.md
  docs/DataManagementAnalytics-Prerequisites.md
  docs/reference/portal.dataLandingZone.json
Due: none

Update README.md
  README.md
Due: none

update naming
  README.md
  docs/DataManagementAnalytics-Prerequisites.md
Due: none

Update docs/reference/portal.dataLandingZone.json
  docs/reference/portal.dataLandingZone.json
Due: none

Update DMA to Cloud-scale analytics (#237)
  CONTRIBUTING.md
  README.md
  docs/DataManagementAnalytics-Prerequisites.md
  docs/reference/portal.dataLandingZone.json
Due: none

Update Gif to Cloud-Scale Analytics
  README.md
  docs/images/CloudScaleAnalytics.gif
  docs/images/DataManagementAnalytics.gif
Due: none

Update Gif to Cloud-Scale Analytics (#238)
  README.md
  docs/images/CloudScaleAnalytics.gif
  docs/images/DataManagementAnalytics.gif
Due: none

The min subnet range is /26
  docs/reference/portal.dataLandingZone.json
Due: none

Add Auto Patch feature for VMSS
  infra/modules/services/selfHostedIntegrationRuntime.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

Update ARM template
  infra/main.json
Due: .ado/workflows/dataLandingZoneDeployment.yml

ci: update actions/checkout to v3.
  .github/workflows/dataLandingZoneDeployment.yml
  .github/workflows/lint.yml
Due: none

ci: update actions/checkout to v3. (#249)
  .github/workflows/dataLandingZoneDeployment.yml
  .github/workflows/lint.yml
Due: none

Fixed typos and updated references in 11 documents
  SECURITY.md
  code/aadScim/README.md
  docs/DataManagementAnalytics-AzureDevOpsDeployment.md
  docs/DataManagementAnalytics-CreateRepository.md
  docs/DataManagementAnalytics-GitHubActionsDeployment.md
  docs/DataManagementAnalytics-KnownIssues.md
  docs/DataManagementAnalytics-Prerequisites.md
  docs/DataManagementAnalytics-ServicePrincipal.md
  docs/guidance/DataManagementAnalytics-DatabricksGeneral.md
  docs/guidance/DataManagementAnalytics-DatabricksManualSetup.md
  docs/guidance/DataManagementAnalytics-DatabricksScimSetup.md
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

Fix Portal UI Issue
  infra/main.json
  infra/modules/services/externalstorage.bicep
  infra/modules/services/storage.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

Fixed typos and updated references in 11 documents (#251)
  SECURITY.md
  code/aadScim/README.md
  docs/DataManagementAnalytics-AzureDevOpsDeployment.md
  docs/DataManagementAnalytics-CreateRepository.md
  docs/DataManagementAnalytics-GitHubActionsDeployment.md
  docs/DataManagementAnalytics-KnownIssues.md
  docs/DataManagementAnalytics-Prerequisites.md
  docs/DataManagementAnalytics-ServicePrincipal.md
  docs/guidance/DataManagementAnalytics-DatabricksGeneral.md
  docs/guidance/DataManagementAnalytics-DatabricksManualSetup.md
  docs/guidance/DataManagementAnalytics-DatabricksScimSetup.md
Due: .ado/workflows/dataLandingZoneDeployment.yml, .ado/workflows/dataNodeDeployment.yml

The min subnet range is /26 (#244)
  docs/reference/portal.dataLandingZone.json
Due: none

Fix Portal UI Issue (#254)
  infra/main.json
  infra/modules/services/externalstorage.bicep
  infra/modules/services/storage.bicep
Due: .ado/workflows/dataLandingZoneDeployment.yml

Adding PowerShell method to create service principal
  docs/DataManagementAnalytics-ServicePrincipal.md
Due: none

Adding PowerShell method to create service principal (#255)
  docs/DataManagementAnalytics-ServicePrincipal.md
Due: none
